<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Authorize User</title>

    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/lineicons.css" />
    <link rel="stylesheet" href="~/css/main.css" />

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    @RenderBody()

    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
